@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header nav {
  padding: 20px 0px;
}
nav .logo-content {
  width: 251px;
  height: 93px;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo-right h3 {
  font-size: 22.17px;
  font-weight: bold;
  line-height: 32px;
}
nav .logo-right h3 .hight-light {
  color: #f21818;
}
nav .phone {
  column-gap: 12px;
}
nav .phone h3 {
  font-size: 53px;
  font-weight: 600;
}

.driver {
  width: 0.7px;
  height: 70px;
  background: gray;
  margin: 0px 20px;
}

@media only screen and (max-width: 585px) {
  .phone h3 {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  nav .logo-content {
    width: 192px;
    height: 68px;
  }
  nav .logo-right h3 {
    font-size: 11px;
    line-height: 20px;
    font-weight: bold;
  }
  .phone img {
    width: 40px;
    height: 40px;
  }
}
