@font-face {
  font-family: 'fabrands400';
  src: url('fabrands400.eot');
  src: url('fabrands400.eot') format('embedded-opentype'),
    url('fabrands400.woff2') format('woff2'),
    url('fabrands400.woff') format('woff'),
    url('fabrands400.ttf') format('truetype'),
    url('fabrands400.svg#fabrands400') format('svg');
}

@font-face {
  font-family: 'faregular400';
  src: url('faregular400.eot');
  src: url('faregular400.eot') format('embedded-opentype'),
    url('faregular400.woff2') format('woff2'),
    url('faregular400.woff') format('woff'),
    url('faregular400.ttf') format('truetype'),
    url('faregular400.svg#faregular400') format('svg');
}

@font-face {
  font-family: 'fasolid900';
  src: url('fasolid900.eot');
  src: url('fasolid900.eot') format('embedded-opentype'),
    url('fasolid900.woff2') format('woff2'),
    url('fasolid900.woff') format('woff'),
    url('fasolid900.ttf') format('truetype'),
    url('fasolid900.svg#fasolid900') format('svg');
}

@font-face {
  font-family: 'fav4compatibility';
  src: url('fav4compatibility.eot');
  src: url('fav4compatibility.eot') format('embedded-opentype'),
    url('fav4compatibility.woff2') format('woff2'),
    url('fav4compatibility.woff') format('woff'),
    url('fav4compatibility.ttf') format('truetype'),
    url('fav4compatibility.svg#fav4compatibility') format('svg');
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeueRegular.eot');
  src: url('BebasNeueRegular.eot') format('embedded-opentype'),
       url('BebasNeueRegular.woff2') format('woff2'),
       url('BebasNeueRegular.woff') format('woff'),
       url('BebasNeueRegular.ttf') format('truetype'),
       url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url('BebasNeueBold.eot');
  src: url('BebasNeueBold.eot') format('embedded-opentype'),
       url('BebasNeueBold.woff2') format('woff2'),
       url('BebasNeueBold.woff') format('woff'),
       url('BebasNeueBold.ttf') format('truetype'),
       url('BebasNeueBold.svg#BebasNeueBold') format('svg');
}

@font-face {
  font-family: 'Sphere';
  src: url('Sphere.eot');
  src: url('Sphere.eot') format('embedded-opentype'),
       url('Sphere.woff2') format('woff2'),
       url('Sphere.woff') format('woff'),
       url('Sphere.ttf') format('truetype'),
       url('Sphere.svg#Sphere') format('svg');
}

@font-face {
  font-family: 'OswaldRegular';
  src: url('OswaldRegular.eot');
  src: url('OswaldRegular.eot') format('embedded-opentype'),
       url('OswaldRegular.woff2') format('woff2'),
       url('OswaldRegular.woff') format('woff'),
       url('OswaldRegular.ttf') format('truetype'),
       url('OswaldRegular.svg#OswaldRegular') format('svg');
}

@font-face {
  font-family: 'OswaldBold';
  src: url('OswaldBold.eot');
  src: url('OswaldBold.eot') format('embedded-opentype'),
       url('OswaldBold.woff2') format('woff2'),
       url('OswaldBold.woff') format('woff'),
       url('OswaldBold.ttf') format('truetype'),
       url('OswaldBold.svg#OswaldBold') format('svg');
}

@font-face {
  font-family: 'LatoRegular';
  src: url('LatoRegular.eot');
  src: url('LatoRegular.eot') format('embedded-opentype'),
       url('LatoRegular.woff2') format('woff2'),
       url('LatoRegular.woff') format('woff'),
       url('LatoRegular.ttf') format('truetype'),
       url('LatoRegular.svg#LatoRegular') format('svg');
}

@font-face {
  font-family: 'latomedium';
  src: url('lato-medium-webfont.woff2') format('woff2'),
       url('lato-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LatoBold';
  src: url('LatoBold.eot');
  src: url('LatoBold.eot') format('embedded-opentype'),
       url('LatoBold.woff2') format('woff2'),
       url('LatoBold.woff') format('woff'),
       url('LatoBold.ttf') format('truetype'),
       url('LatoBold.svg#LatoBold') format('svg');
}

@font-face {
  font-family: 'LatoBlack';
  src: url('LatoBlack.eot');
  src: url('LatoBlack.eot') format('embedded-opentype'),
       url('LatoBlack.woff2') format('woff2'),
       url('LatoBlack.woff') format('woff'),
       url('LatoBlack.ttf') format('truetype'),
       url('LatoBlack.svg#LatoBlack') format('svg');
}

@font-face {
  font-family: 'LatoBlackItalic';
  src: url('LatoBlackItalic.eot');
  src: url('LatoBlackItalic.eot') format('embedded-opentype'),
       url('LatoBlackItalic.woff2') format('woff2'),
       url('LatoBlackItalic.woff') format('woff'),
       url('LatoBlackItalic.ttf') format('truetype'),
       url('LatoBlackItalic.svg#LatoBlackItalic') format('svg');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('OpenSansRegular.eot');
  src: url('OpenSansRegular.eot') format('embedded-opentype'),
       url('OpenSansRegular.woff2') format('woff2'),
       url('OpenSansRegular.woff') format('woff'),
       url('OpenSansRegular.ttf') format('truetype'),
       url('OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: 'RobotoSlabBold';
  src: url('RobotoSlabBold.eot');
  src: url('RobotoSlabBold.eot') format('embedded-opentype'),
       url('RobotoSlabBold.woff2') format('woff2'),
       url('RobotoSlabBold.woff') format('woff'),
       url('RobotoSlabBold.ttf') format('truetype'),
       url('RobotoSlabBold.svg#RobotoSlabBold') format('svg');
}